html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #f8f9fa;
    padding: 1rem;
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
}

/* Optional: Footer links styling */
.nav-link {
    color: #6c757d; /* muted color */
    text-decoration: none;
}

.nav-link:hover {
    color: #000; /* optional hover color */
}


  /* Custom styling for the card and page */
  .homepage-card {
    max-width: 600px;
    margin: 50px auto;
}

/*Rental Form for ourFleet page*/

.rental-form-container .input-group {
    border-radius: 15px; /* Rounded corners */
    overflow: hidden; /* Ensure child elements respect rounded corners */
}

.rental-form-container .input-group .form-control {
    border: 1px solid #ced4da; /* Use a border to match Bootstrap's styling */
}

.rental-form-container .btn {
    border-radius: 15px; /* Rounded corners for the button */
}
