html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #f8f9fa;
    padding: 1rem;
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
}

/* Optional: Footer links styling */
.nav-link {
    color: #6c757d; /* muted color */
    text-decoration: none;
}

.nav-link:hover {
    color: #000; /* optional hover color */
}